/* Resetando as configurações de margin e padding aplicadas globalmente */
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: black;
    height: 100vh;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #22d4f2;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: #f6f6f6;
    text-align: justify;
}

strong.Destaque {
    color: #f6f6f6;
}

strong.titulo {
    color: #f6f6f6;
}

.titulo_azul {
    color: #22d4f2;
}

.Apresentação {
    margin: 10% 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.apresentação_conteudo {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 40px;
}

.apresentação_links {
    display: flex;
    justify-content: space-between;
}

.apresentação_conteudo_titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    text-align: justify;
}

.apresentação_conteudo_texto {
    font-size: 24px;
    text-align: justify;
}

.apresentação_links_link {
    background-color: #22d4f2;
    width: 174px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 16px;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsividade */

/* Para telas grandes (desktops com resoluções maiores) */
@media (min-width: 1200px) {
    .Apresentação {
        margin: 5% 10%;
    }
    .apresentação_conteudo_titulo {
        font-size: 40px;
    }
    .apresentação_conteudo_texto {
        font-size: 28px;
    }
}

/* Para tablets */
@media (min-width: 768px) and (max-width: 1199px) {
    .Apresentação {
        margin: 10% 5%;
        flex-direction: column;
    }
    .apresentação_conteudo {
        width: 100%;
    }
    .apresentação_conteudo_titulo {
        font-size: 32px;
    }
    .apresentação_conteudo_texto {
        font-size: 20px;
    }
}

/* Para celulares */
@media (max-width: 767px) {
    .Apresentação {
        margin: 5% 3%;
        flex-direction: column;
    }
    .apresentação_conteudo {
        width: 100%;
    }
    .apresentação_conteudo_titulo {
        font-size: 28px;
    }
    .apresentação_conteudo_texto {
        font-size: 18px;
    }
    .apresentação_links {
        flex-direction: column;
        gap: 10px;
    }
    .apresentação_links_link {
        width: 100%;
    }
}
